########################
# npm / node
########################
node_modules
npm-debug.log


########################
# misc / editors
########################
.DS_Store


########################
# deps
########################
docs